<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${title} ?: 'Uni Activities'">Uni Activities</title>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<header class="topbar">
  <div class="container">
    <a class="brand" th:href="@{/}">Uni Activities</a>
    <nav>
      <span th:if="${isAuthenticated}">
        สวัสดี, <b th:text="${currentUserName}">User</b>
        <a th:if="${isStaff}" th:href="@{/jobs/new}">ลงประกาศงาน</a>
        <a th:if="${isStaff}" th:href="@{/me/posted}">งานที่ฉันสร้าง</a>
        <a th:if="${isStudent}" th:href="@{/me/applications}">การสมัครของฉัน</a>
        <a th:href="@{/logout}">ออกจากระบบ</a>
      </span>
      <span th:if="${!isAuthenticated}">
        <a th:href="@{/login}">เข้าสู่ระบบ</a>
        <a th:href="@{/register}">สมัครสมาชิก</a>
      </span>
    </nav>
  </div>
</header>

<main class="container" th:fragment="content">
  <div>Content</div>
</main>

<footer class="footer">
  <div class="container">
    <small>Prototype • Spring Boot + Docker • สำหรับใช้งานภายในมหาลัย</small>
  </div>
</footer>
</body>
</html>
